<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
</head>
<body>
<form action="/saveUser" method="post">
    <p>Login</p>
    <input type="text" name="login">
    <p>Hasło</p>
    <input type="password" name="password" minlength="5" >
    <p>Email</p>
    <input type="email"name="email">
    <p>Imie</p>
    <input type="text"name="first_name" />
    <p>Nazwisko</p>
    <input type="text" name="last_name" />
    <p>Numer telefonu</p>
    <input type="number"  name="number" maxlength="9"/>
    <br><br>
    <input type="submit" value="Zarejestruj">
</form>
<a href="/">Powrót na strone główną</a><br>
</body>
</html>